<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="../frontend/css/login_user.css">
    <link rel="stylesheet" href="../css/past_order.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        if ('<%= alert %>' == 'true') {
            swal('<%= msg %>');
        }
    </script>
    <style>
        .heading {
            font-size: 2em;
        }
    </style>
</head>

<body>

    <div class="main__body">


        <div class="main__body__right">


            <% if (!rated) { %>
                <div class="form">
                    <form action="/feedback/<%= oid %>" method="POST">
                        <textarea name="feedback" id="" required placeholder="Your Feedback helps us improve our Services" cols="60" rows="6"></textarea>
                        <div class=" rest__rating__tab">
                            <input class="star1" type="radio" name="rating" id="star1-1" value="5"> <label class="star1" for="star1-1"></label>
                            <input class="star1" type="radio" name="rating" id="star1-2" value="4"> <label class="star1" for="star1-2"></label>
                            <input class="star1" type="radio" name="rating" id="star1-3" value="3"> <label class="star1" for="star1-3"></label>
                            <input class="star1" type="radio" name="rating" id="star1-4" value="2"> <label class="star1" for="star1-4"></label>
                            <input class="star1" type="radio" name="rating" id="star1-5" value="1"> <label class="star1" for="star1-5"></label>
                        </div>
                        <button type="submit">Submit Feedback</button>
                    </form>
                </div>
                <% } %>
                    <% if (rated) { %>
                        <div class="form">
                            <textarea name="feedback" id="" required placeholder="Your Feedback helps us improve our Services" cols="60" rows="6" readonly><%= feedback %></textarea>
                            <div class="rest__rating">
                                <svg width="15px" fill="white" id="Capa_1" enable-background="new 0 0 448.941 448.941" viewBox="0 0 448.941 448.941" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m448.941 168.353h-161.338l-63.132-168.353-63.132 168.353h-161.339l121.478 106.293-65.36 174.295 168.353-84.176 168.353 84.176-65.361-174.296z" />
                        </svg>
                                <%= rating %>
                            </div>
                        </div>
                        <% } %>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
    </script>
</body>

</html>