<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App name</title>
    <link rel="stylesheet" href="../css/restaurant.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div class="ham__items">
        <?xml version="1.0" encoding="iso-8859-1"?>
        <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg id="close" version="1.1" width="18px" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
            <g>
                <g>
                    <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
    			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
    			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
    			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
    			L284.286,256.002z" />
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
        </svg>
        <div class="ham__items__btn">
            <div class="ham__search">
                <svg width="18px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="white"
                        d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                    </path>
                </svg>
                <a href="/search">Search</a>
            </div>

        </div>

    </div>
    <div class="profile__tab hide ">

        <!-- <div class="profile__tab__img"></div> -->
        <div class="profile__tab__content">

            <div class="profile__tab__content_arng">
                <div class="pro_tab profile__tab__name">
                    <%= profile.name %>
                </div>

                <div class="pro_tab profile__tab__email">
                    <%= profile.email %>
                </div>
                <div class="pro_tab profile__tab__mob">
                    <%= profile.phone %>
                </div>

                <a href="/feedback">
                    <div class="pro_tab profile__tab__pastOrder">Past Orders</div>
                </a>
            </div>

        </div>
    </div>
    <div class="container ">

        <nav>

            <a href="/">
                <div class="brand">
                    <img width="35px" src="../frontend/images/brand-icon.png" alt="" srcset="">
                    <p>Home</p>

                </div>
            </a>

            <div class="nav__right">
                <div class="search">
                    <svg width="18px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="white"
                            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                        </path>
                    </svg>
                    <a href="/search">Search</a>
                </div>



            </div>

        </nav>
        <div class="rest__dis">
            <div class="rest__dis__image">


                <div class="rest__dis__content">
                    <div class="rest__dis__name">
                        <%= data.rows[0].rname %>
                    </div>

                    <div class="rest__dis__rating">
                        <svg width="15px" fill="white" id="Capa_1" enable-background="new 0 0 448.941 448.941" viewBox="0 0 448.941 448.941" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m448.941 168.353h-161.338l-63.132-168.353-63.132 168.353h-161.339l121.478 106.293-65.36 174.295 168.353-84.176 168.353 84.176-65.361-174.296z" />
                    </svg>
                        <%=  data.rows[0].rating %>
                    </div>
                    <div class="line1"></div>
                    <div class="rest__dis__location">
                        <%= data.rows[0].address %>
                    </div>


                </div>


            </div>
            <br>
            <div class="menu">
                <% data.r.forEach(e => { %>
                    <div class="menu__dish">
                        <div class="menu__dish__left">
                            <div class="dish__name">
                                <%= e.dname %>
                            </div>
                            <div class="dish__price">₹
                                <%= e.price %>
                            </div>
                        </div>
                        <div class="menu__dish__right">
                            <a href="/order/<%= data.rows[0].rid %>/<%= e.did %>/?action=add">
                                <span class="add__btn"><svg width="25" height="29" viewBox="0 0 40 39" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M38 19.5C38 29.1176 29.9892 37 20 37C10.0108 37 2 29.1176 2 19.5C2 9.88245 10.0108 2 20 2C29.9892 2 38 9.88245 38 19.5Z"
                                    stroke="#48C479" stroke-width="4" />
                                <path d="M20.0498 9V30.5916" stroke="#48C479" stroke-width="4" />
                                <line y1="-2" x2="21.1701" y2="-2"
                                    transform="matrix(0.999882 -0.0153417 0.0147488 0.999891 10 21.4861)"
                                    stroke="#48C479" stroke-width="4" />
                            </svg>
                        </span>
                            </a>
                        </div>
                    </div>
                    <% }); %>
            </div>

            <% if(data.cart) { %>
                <div class="cart ">
                    <svg width="60" height="40" viewBox="0 0 168 112" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path
                            d="M166.779 18.7607C165.782 17.9627 164.301 17.5007 162.748 17.5007H35.2795C33.652 17.5007 32.1085 18.0047 31.1111 18.8657C30.1241 19.7337 29.7881 20.8537 30.2081 21.9037L47.0078 63.763C47.6273 65.303 49.7063 66.36 52.0792 66.36C52.1632 66.36 52.2577 66.36 52.3417 66.353L152.51 62.993C154.936 62.909 156.973 61.7261 157.414 60.1301L167.913 21.6307C168.197 20.6017 167.777 19.5517 166.779 18.7607Z"
                            fill="#FFC107" fill-opacity="0.3" />
                        <path
                            d="M131.248 52.5002C128.35 52.5002 125.998 50.9322 125.998 49.0002V35.0004C125.998 33.0685 128.35 31.5005 131.248 31.5005C134.146 31.5005 136.498 33.0685 136.498 35.0004V49.0002C136.498 50.9322 134.146 52.5002 131.248 52.5002Z"
                            fill="#FAFAFA" />
                        <path
                            d="M99.7485 52.5002C96.8505 52.5002 94.4985 50.9322 94.4985 49.0002V35.0004C94.4985 33.0685 96.8505 31.5005 99.7485 31.5005C102.646 31.5005 104.998 33.0685 104.998 35.0004V49.0002C104.998 50.9322 102.646 52.5002 99.7485 52.5002Z"
                            fill="#FAFAFA" />
                        <path
                            d="M68.2489 52.5002C65.351 52.5002 62.999 50.9322 62.999 49.0002V35.0004C62.999 33.0685 65.351 31.5005 68.2489 31.5005C71.1469 31.5005 73.4989 33.0685 73.4989 35.0004V49.0002C73.4989 50.9322 71.1469 52.5002 68.2489 52.5002Z"
                            fill="#FAFAFA" />
                        <path
                            d="M68.249 108.499C76.9474 108.499 83.9988 103.798 83.9988 97.9994C83.9988 92.2004 76.9474 87.4995 68.249 87.4995C59.5507 87.4995 52.4993 92.2004 52.4993 97.9994C52.4993 103.798 59.5507 108.499 68.249 108.499Z"
                            fill="#455A64" fill-opacity="0.3" />
                        <path
                            d="M131.248 108.499C139.946 108.499 146.998 103.798 146.998 97.9994C146.998 92.2004 139.946 87.4995 131.248 87.4995C122.55 87.4995 115.498 92.2004 115.498 97.9994C115.498 103.798 122.55 108.499 131.248 108.499Z"
                            fill="#455A64" fill-opacity="0.3" />
                        <path
                            d="M141.748 80.4998H57.7491C55.3656 80.4998 53.2867 79.4358 52.6777 77.9028L25.6826 10.5009H5.24992C2.35196 10.5009 0 8.93289 0 7.00092C0 5.06895 2.35196 3.50098 5.24992 3.50098H29.7145C32.098 3.50098 34.177 4.56496 34.786 6.09794L61.781 73.4999H141.748C144.646 73.4999 146.998 75.0678 146.998 76.9998C146.998 78.9318 144.646 80.4998 141.748 80.4998Z"
                            fill="#455A64" fill-opacity="0.5" />
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="168" height="112" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                    <ul>
                        <% for(var dish in data.dishes){ %>
                            <li class="cart__item">
                                <div class="cart__item__left">
                                    <div class="cart__item__name">
                                        <%= dish %>
                                    </div>
                                    <div class="cart__item__price">₹
                                        <%= data.dishes[dish][1] %>
                                    </div>
                                </div>
                                <div class="cart__item__right">
                                    <a href="/order/<%= data.rows[0].rid %>/<%= data.dishes[dish][2] %>/?action=remove">
                                        <div class="add">-</div>
                                    </a>
                                    <div class="quantity">
                                        <%= data.dishes[dish][0] %>
                                    </div>
                                    <a href="/order/<%= data.rows[0].rid %>/<%= data.dishes[dish][2] %>/?action=add">
                                        <div class="add">+</div>
                                    </a>
                                </div>
                            </li>
                            <% }; %>
                    </ul>
                    <div class="cart__checkout" onclick="confirmorder()">
                        <div class="cart__checkout__left">
                            CHECKOUT
                            <script>
                                function confirmorder() {
                                    swal({
                                            title: "Are you sure you want to place order?",
                                            text: "Order once placed, cannot be cancelled.",
                                            icon: "warning",
                                            buttons: ['Cancel', 'Confirm'],
                                            dangerMode: true,
                                        })
                                        .then((placeOrder) => {
                                            if (placeOrder) {
                                                window.location = '/order/checkout';
                                                var socket = io.connect();
                                                socket.emit('new-order', '<%= rid %>');
                                            }
                                        });
                                }
                            </script>
                        </div>
                        <span class="totalPrice">
                        ₹<%= data.totalPrice %>
                    </span>
                    </div>
                </div>

        </div>
        <% } %>


            <script src="../frontend/js/jquery.min.js"></script>
            <script>
                function hamburg() {
                    $('.container').toggleClass('blur');
                    $('.ham__items').toggleClass('ham__unhide');
                    // $('.ham__items').toggleClass('.ham__items');
                };

                function xyz() {
                    $('.profile__tab').toggleClass('hide');
                    $('.container').toggleClass('blur');
                }

                function abc() {
                    $('.profile__tab').toggleClass('hide');
                    // $('.container').toggleClass('blur');
                    $('.ham__items').toggleClass('ham__unhide');
                }
                $('#profile__tab__close').click(xyz);
                $('.profile ').click(xyz);
                $('.ham__profile ').click(abc);
                $('.ham').click(hamburg);
                $('#close').click(hamburg);

                function cart_show_hide() {
                    $('.cart__2').toggleClass('unhide');
                    $('.cart__2').toggleClass('cart__small');
                }
                $('.cart__icon').click(cart_show_hide);
                $('.cart__2__close').click(cart_show_hide);
            </script>

            <a href="/feedback">
                <div class="pro_tab profile__tab__pastOrder">Past Orders</div>
            </a>

</body>

</html>